.input-body{
    font-family: cursive;
    margin: 0;
    padding: 0;
}
.input-header{
    background-color: hsl(254, 91%, 22%);
    color: white;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    font-family: Bookman Old Style;
    font-size: 30px;
}

.input-main{
    display: flex;
    padding: 30px;
    font-family: Times New Roman;
}

.input-article{
    flex: 3;
    margin: 20px;
}

.input-article h2,p{
    text-align: center;
    padding-bottom: 0px;
    margin: auto;
    width: 320px;
    }

.input-article img {
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.input-aside {
    flex: 3;
    margin: 20px;
}

.input-aside h2, p {
    text-align: center;
    padding-bottom: 0px;
    margin: auto;
    width: 320px;
}

.input-aside img {
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.input-footer {
    background-color: hsl(254, 91%, 22%);
    color: white;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 1px;
    position: relative;
    bottom: 5px;
    width: 100%;
    font-size: small;
}